<section id="window_config" class="chat disable_window">
    <div class="header-chat">
      <div class="titlepage">
        <h2>Mensaj<span class="green">es bot.</span></h2>
      </div>
    </div>
    <div class="container-fluid">
      <div
        class="uk-alert-success"
        uk-alert
        id="alert-success"
        style="position: fixed; top: 10%; right: 1%"
        hidden
      >
        <a class="uk-alert-close" uk-close></a>
        <p></p>
      </div>
  
      <div class="col-md-12" style="max-height: 300px; overflow-y: auto">
        <table class="uk-table uk-table-hover uk-table-divider">
          <thead>
            <tr>
              <th>key</th>
              <th>Texto</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="tableBodyBot">
            <%for (const nombre in bots) { const direccion = bots[nombre];%>
            <tr>
              <td><%= `${nombre}` %></td>
              <td><%= `${direccion}` %></td>
              <td style="width: 250px">
                <button
                 class="btn btn-primary"
                 onclick="editBot('<%= `${nombre}` %>', '<%= `${direccion}` %>')"
                >
                  Editar
                </button>
              </td>
            </tr>
  
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="container-fluid">
        <h3 style="margin-top: 10px;"><b>Informacion relevante.</b></h3>
        <ul>
          <li>Tenga en cuenta que si desea agregar saltos de linea puede hacerlo escribiendo $n en el texto.</li>
          <li>Solo algunas opciones permite usar parametros como {nombre}, {direccion}, {Rnombre}; tenga en cuenta que los dos primeros parametros corresponden a datos del cliente, y el tercer parametro a datos del repartidor.</li>
          <li>Los textos por defecto encontrara cuales opciones permite la parametrizacion.</li>
        </ul>
      </div>

      <div class="modal fade" id="modalEditBot" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Editar mensaje de bot</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="keyInput">Key</label>
                <input type="text" class="form-control" disabled id="keyInput" placeholder="Key">
              </div>
              <div class="form-group">
                <label for="textInput">Texto</label>
                <input type="text" class="form-control" id="textInput" placeholder="Texto">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" onclick="saveBot()" data-dismiss="modal" class="btn btn-primary">GUARDAR</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  