<section id="window_start" class="chat active_window">
  <div class="header-chat">
    <i class="fa fa-align-justify fa-2x fa-menu"></i>
    <div class="titlepage">
      <h2>Ini<span class="green">cio</span></h2>
    </div>
  </div>
  <div class="container-fluid container_inicio">
    <div id="div_qr_code">
      <div>
        <img
          id="qr_code"
          style="width: 400px"
          src="images/qr.gif"
          alt="qr code"
        />
      </div>

      <p class="text-bold" id="dots">
        Estado de la conexion:
        <span id="status_session">Conectando con el servidor</span>.....
      </p>
    </div>
  </div>
</section>
