<section id="window_info" class="disable_window">
  <h1>Informacion del cliente</h1>
  <div class="container-fluid">
    <div class="form-group">
      <label for="CliName">Nombre</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="CliName"
        placeholder="Usuario"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="CliAddress">Dirección</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="CliAddress"
        placeholder="Dirección"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="CliObservation">Observaciones</label>
      <textarea
        id="CliObservation"
        readonly
        class="form-control form-control-sm no-resize text-area-custom"
        placeholder="Observaciones"
        cols="30"
        rows="10"
      ></textarea>
    </div>
    <div class="row" style="margin-left: 10px">
      <button id="activeFormInfo" class="btn btn-sm btn-primary">
        Habilitar edición
      </button>
      <button id="saveFormInfo" class="btn btn-sm btn-primary disabled">
        Guardar cambios
      </button>
    </div>
    <h1 class="title-delivery-option">Finalizar chat</h1>
    <div class="form-group">
      <select id="delivery_select" class="form-control form-control-sm">
        <option value="0">Seleccione un repartidor</option>
      </select>
      <input type="text" style="display: none;" id="tempChatPhone">
      <input type="text" style="display: none;" id="tempChatActive">
    </div>
    <div class="form-group">
      <input
        type="file"
        class="form-control-sm form-control"
        id="file_finish"
      />
    </div>
    <button onclick="endChatFunction()" class="btn btn-sm btn-danger">
      Finalizar chat
    </button>
    <button
      onclick="openInfo()"
      class="btn-window-close btn btn-sm btn-success"
    >
      Cerrar ventana
    </button>
  </div>
</section>
