<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a
      class="nav-item nav-link active"
      id="nav-responses-tab"
      data-toggle="tab"
      href="#nav-responses"
      role="tab"
      aria-controls="nav-responses"
      aria-selected="true"
      >Respuestas rápidas</a
    >
    <a
      class="nav-item nav-link"
      id="nav-emojis-tab"
      data-toggle="tab"
      href="#nav-emojis"
      role="tab"
      aria-controls="nav-emojis"
      aria-selected="false"
      >Emojis</a
    >
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div
    class="tab-pane fade show active"
    id="nav-responses"
    role="tabpanel"
    aria-labelledby="nav-responses-tab"
  >
    <p class="text-center">No hay respuestas rápidas, registradas.</p>
  </div>
  <div
    class="tab-pane fade"
    id="nav-emojis"
    role="tabpanel"
    aria-labelledby="nav-emojis-tab"
  >
    ...
  </div>
</div>
