<%- include("template/header.ejs") %>

<div class="mx-auto py-5">
  <div class="card" style="width: 500px">
    <img src="./images/favicon.png" width="150px" class="mx-auto pt-5" />
    <div class="input-group px-5 py-5 row">
      <span class="input-group-text col-md-5">Usuario: </span>
      <input type="text" aria-label="Last name" class="form-control" id="inp-usu"/>
    </div>
    <div class="input-group px-5 pb-5 row">
      <span class="input-group-text col-md-5">Contraseña: </span>
      <input type="password" aria-label="Last name" class="form-control" id="inp-pass"/>
    </div>
    <div class="mx-auto mb-5" style="width: 100px;">
      <button class="btn btn-primary" id="btn-login">Iniciar sesión</button>
    </div>
  </div>
</div>

<%- include("template/footer.ejs") %>
<script src="./js/login.js"></script>
