@font-face {
  font-family: "Poopins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
#captionWelcome,
#titleWelcome{
  font-family: "Poopins-bold";
}

body {
  padding: 5%;
  background-color: #f5f5f5;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.container {
  padding: 0;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 100vh;
}

/* ===== MENU ===== */
.menu {
  float: left;
  height: 102vh;
  width: 70px;
  background: #ff9800;
  background: -webkit-linear-gradient(#ff9800, #c06500);
  background: -o-linear-gradient(#ff9800, #c06500);
  background: -moz-linear-gradient(#ff9800, #c06500);
  background: linear-gradient(#ff9800, #c06500);
  transition: all ease-in-out 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  z-index: 98;
}

.menu .items {
  list-style: none;
  margin: auto;
  padding: 0;
}

.menu .items .item,
.item-custom {
  height: 70px;
  border-bottom: 1px solid #853400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 17pt;
}

.menu .items .item-active {
  background-color: #ffcc50;
  color: #fff;
}

.menu .items .item:hover {
  cursor: pointer;
  background-color: #ffff89;
  color: #ff9800;
}

/* === CONVERSATIONS === */

.discussions {
  width: 280px;
  height: 102vh;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  overflow-y: auto;
  background-color: #fff;
  display: inline-block;
  padding-bottom: 2vh;
}

.discussions .discussion {
  width: 100%;
  height: 90px;
  background-color: #fafafa;
  border-bottom: solid 1px #e0e0e0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e0e0e0;
}

.discussions .search .searchbar {
  height: 40px;
  background-color: #fff;
  width: 70%;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search .searchbar input {
  margin-left: 15px;
  height: 38px;
  width: 100%;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.discussions .search .searchbar *::-webkit-input-placeholder {
  color: #e0e0e0;
}
.discussions .search .searchbar input *:-moz-placeholder {
  color: #e0e0e0;
}
.discussions .search .searchbar input *::-moz-placeholder {
  color: #e0e0e0;
}
.discussions .search .searchbar input *:-ms-input-placeholder {
  color: #e0e0e0;
}

.discussions .message-active {
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-bottom: solid 1px #e0e0e0;
  border-right: 5px solid #c06500;
}

.discussions .discussion .photo {
  margin-left: 20px;
  display: block;
  width: 70px;
  height: 45px;
  background: #e6e7ed;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.online {
  position: relative;
  top: 30px;
  left: 35px;
  width: 13px;
  height: 13px;
  background-color: #8bc34a;
  border-radius: 13px;
  border: 3px solid #fafafa;
}

.desc-contact {
  height: 43px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discussions .discussion .name {
  margin: 0 0 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11pt;
  color: #515151;
}

.discussions .discussion .message {
  margin: 6px 0 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 9pt;
  color: #515151;
}

.timer {
  margin-right: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  color: #bbb;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  text-align: center;
}

.chat {
  width: calc(100% - 657px);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.header-chat {
  background-color: #fff;
  height: 90px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.chat .header-chat .icon {
  margin-left: 30px;
  color: #515151;
  font-size: 14pt;
}

.chat .header-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 13pt;
  color: #515151;
  font-weight: 800;
}

.chat .header-chat .right {
  padding: 25px;
}

.chat .messages-chat {
  padding: 25px 35px;
  overflow-y: scroll;
  height: calc(100vh - 170px);
}

.chat .messages-chat .message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 1px;
}

.chat .messages-chat .message .photo {
  display: block;
  width: 45px;
  height: 45px;
  background: #e6e7ed;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.chat .messages-chat .text {
  margin: 0 0;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
}

.text-only {
  margin-left: 45px;
}

.time {
  font-size: 10px;
  color: lightgrey;
  width: 100%;
  margin: 0 !important;
  text-align: start;
}

.response-time {
  float: right;
  text-align: end;
}

.response {
  float: right;
  margin-right: 0px !important;
  margin-left: auto; /* flexbox alignment rule */
}

.response .text {
  background-color: #e3effd !important;
}

.footer-chat {
  width: calc(100% - 657px);
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 2vh;
  background-color: transparent;
  border-top: 2px solid #eee;
}

.chat .footer-chat .icon {
  margin-left: 30px;
  color: #c0c0c0;
  font-size: 14pt;
}

.chat .footer-chat .send {
  color: #fff;
  background-color: #ff9800;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  font-size: 14pt;
}

.chat .footer-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 13pt;
  color: #515151;
}

.chat .footer-chat .right {
  position: absolute;
  right: 40px;
}

.write-message {
  border: none !important;
  width: 60%;
  height: 50px;
  margin-left: 20px;
  padding: 10px;
}

#responsive-item {
  display: none;
}

.footer-chat *::-webkit-input-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
  margin-left: 5px;
}
.footer-chat input *:-ms-input-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
}

.clickable {
  cursor: pointer;
}

.active_window {
  display: block;
}

.disable_window {
  display: none;
}

.green {
  color: #f26722 !important;
}

.titlepage {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlepage h2 {
  margin: 0 !important;
  font-weight: 800;
}

.fa-menu {
  display: none;
  padding: 20px;
}

.container_inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100% - 90px);
}

.btn-window-close {
  display: none !important;
}

#window_responses,
#window_delivery,
#window_config,
#window_start {
  width: calc(100% - 70px);
}

#dots {
  color: #000;
  animation: moveDots 1s infinite;
}

@keyframes moveDots {
  0% {
    opacity: 0.2;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(10px);
  }
  100% {
    opacity: 0.2;
    transform: translateX(0);
  }
}

#window_info {
  width: 300px;
  height: 102vh;
  padding: 3.5px;
}

#window_info h1 {
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 13pt;
  color: #515151;
  text-align: center;
  font-weight: 800;
}

.no-resize {
  resize: none;
}

.item-menu {
  display: none !important;
}

#menu-nav .fa-menu {
  margin: 0 !important;
}

.text-area-custom {
  height: 100px;
}

.title-delivery-option {
  margin-top: 10px !important;
  border-top: 1px solid #ccc;
  padding-top: 5px;
}

@media screen and (max-width: 1032px) {
  #window_info {
    position: fixed;
    right: -300px;
    top: 0;
  }
  .footer-chat,
  .chat {
    width: calc(100% - 357px);
  }
}

@media screen and (max-width: 750px) {
  #window_info {
    position: fixed;
    right: -300px;
    top: 0;
  }
  .chat-show {
    position: fixed !important;
    width: 100%;
    height: 100%;
    top: 0 !important;
    z-index: 9;
    left: 0 !important;
}
  .card-option-smile {
    position: absolute;
    bottom: 90px;
    max-width: 300px;
    height: 200px;
    width: 100%;
    background-color: #ccc;
    border-radius: 10px;
  }
  .btn-window-close-active {
    display: block !important;
    position: fixed;
    z-index: 99;
    bottom: 10px;
    right: 10px;
  }
  .window_info_admin {
    right: 0 !important;
    z-index: 99;
    width: 100vw !important;
    display: block;
    background-color: #fff;
  }
  .discussions {
    position: fixed;
    top: 0;
    left: -357px;
  }
  .chat .footer-chat .send {
    right: 15px;
  }
  #responsive-item {
    display: block;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -70px;
  }
  .fa-menu {
    display: block;
  }
  .icon-user-nav {
    margin-left: -80px;
  }
  .chat,
  #window_responses,
  #window_config,
  #window_delivery,
  #window_start {
    width: 100%;
    height: 101vh;
  }
  .footer-chat {
    width: 100%;
  }
}

.menu-open {
  left: 0;
}

.text-bold {
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.dot-animation {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.btn {
  border-radius: 0 !important;
  border: 1px solid #000 !important;
  cursor: pointer;
}

.card-option-smile {
  position: absolute;
  bottom: 90px;
  margin-left: 10px;
  max-width: 450px;
  height: 250px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: scroll;
}

.btn-response,
.btn-emoji {
  margin: 5px 10px !important;
}

#activeFormInfo {
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el contenido de texto que se desborde */
  text-overflow: ellipsis;
  margin-right: 10px;
  max-width: 120px;
}

.btn-primary {
  background-color: #ff9800 !important;
}

.btn-primary:hover {
  background-color: #ffcc50 !important;
}

.btn-left {
  margin-left: 10px;
}
