<div class="modal fade" id="closeModal" role="dialog" aria-labelledby="addModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalTitle">Cerrar Venta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label id="type_dom_close">Repartidor</label>
                    <select id="select-delivery" class="form-control select2" style="width: 100%;">
                        <option value="0">Recoger en local</option>
                        <% if(typeof deliverys !='undefined' ){ for(var i=0; i<deliverys.length; i++) {%>
                            <option value="<%=deliverys[i].DelId%>">
                                <%=deliverys[i].DelName%>
                            </option>
                            <% } }%>
                    </select>
                </div>
                <div id="type_dom_address" class="form-group">
                    <label>Dirección</label>
                    <select disabled id="select-address" class="form-control" style="width: 100%;">
                        <optgroup label="Dirección principal">
                            <option selected class="client_address" value="0">Dirección predeterminada</option>
                        </optgroup>
                        <optgroup class="extra-address-select" label="Direcciones extra">

                        </optgroup>
                        <optgroup label="Dirección temporal">
                            <option value="-1">Dirección temporal</option>
                        </optgroup>
                    </select>
                </div>
                <div id="address-div-custom-temp" class="form-group">
                    <label>Dirección temporal</label>
                    <input type="text" id="address-custom-temp" class="form-control" placeholder="Dirección temporal">
                    <small class="text-danger">*Recuerda que esta dirección no sera almacenada en la base de
                        datos.</small>
                </div>
                <div class="form-group" bis_skin_checked="1">
                    <label>Nota para cocina.</label>
                    <textarea id="resume-close-buy" class="form-control" rows="3"
                        placeholder="Nota para cocina..."></textarea>
                </div>
                <div class="form-group" bis_skin_checked="1">
                    <label id="label-delivery-note">Nota exclusiva para repartidor.</label>
                    <textarea id="msg-add-delivery" class="form-control" rows="3"
                        placeholder="Nota exclusiva para repartidor..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
                <button onclick="requestType()" type="button" class="btn btn-secondary">
                    Cambiar tipo de entrega
                </button>
                <button type="button" class="btn btn-warning" onclick="closeSale()">Cerrar venta</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="closeModal2" tabindex="-1" role="dialog" aria-labelledby="addModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalTitle">Cancelar Venta</h5>
            </div>
            <div class="modal-body">
                <div class="form-group" bis_skin_checked="1">
                    <label>Motivo de cancelación.</label>
                    <textarea id="reason-cancel" class="form-control" rows="3"
                        placeholder="Motivo de cancelación..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="openSale()" type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancelar acción
                </button>
                <button type="button" class="btn btn-danger" onclick="cancelSale()">Cancelar venta</button>
            </div>
        </div>
    </div>
</div>