<div class="modal fade" id="editModal2" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Editar Respuestas automáticas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="form-group">
            <label for="exampleInputName1">Title</label>
            <input type="Name" class="form-control" id="exampleInputName2" placeholder="Editar Title" />
          </div>
          <div class="form-group">
            <label for="exampleInputPhone1">Respuesta</label>
            <input type="Phone" class="form-control" id="exampleInputPhone2" placeholder="Editar Respuesta" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" id="modalbtnEdit2">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>