<div class="modal fade" id="editModal1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Editar Repartidores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="form-group">
            <label for="exampleInputName1">Nombre</label>
            <input type="Name" class="form-control" id="exampleInputName1" placeholder="Editar nombre" />
          </div>
          <div class="form-group">
            <label for="exampleInputPhone1">Teléfono</label>
            <input type="Phone" class="form-control" id="exampleInputPhone1" placeholder="Editar teléfono" />
          </div>
          <button type="button" id="modalbtnDelete" class="btn btn-block btn-danger btn-sm mt-0"
            onclick="deleteDelivery('')">
            Eliminar
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" id="modalbtnEdit">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>