<%- include("template/header.ejs") %>

    <div class="content-wrapper">
        <div style="min-height: 100vh; height: 110vh;padding-top: 10px; padding-bottom: 10px;" class="container-fluid">
            <div style="height: 100%;" class="row">
                <div style="height: 100%;" class="col-md-9">
                    <div style="height: 100%;" class="card card-success card-outline direct-chat direct-chat-success"
                        bis_skin_checked="1">
                        <div class="card-header" bis_skin_checked="1">
                            <h3 class="card-title">ChatBot - <span class="client_name">Seleccione una
                                    conversación</span></h3>
                            <div class="card-tools close_day_class" bis_skin_checked="1">
                                <button onclick="openSale()" id="option_sale" style="margin-right: 10px;"
                                    class="btn btn-sm btn-success">Abrir
                                    una venta.</button>
                                <span id="status_new_sms" title="Chats disponibles" class="badge bg-success">0</span>
                                <button type="button" id="maximus-chat-option" class="btn btn-tool"
                                    data-card-widget="maximize"><i class="fas fa-expand"></i>
                                </button>
                                <button type="button" id="openchat-btn" class="btn btn-tool" title="Contacts"
                                    data-widget="chat-pane-toggle">
                                    <i class="fas fa-comments"></i>
                                </button>
                            </div>
                        </div>

                        <div id="card_body_close_day" class="card-body" bis_skin_checked="1">

                            <div id="direct-chat-view" style="height: 100%;" class="direct-chat-messages"
                                bis_skin_checked="1">


                                <!--<div class="direct-chat-msg" bis_skin_checked="1">
                                    <div class="direct-chat-infos clearfix" bis_skin_checked="1">
                                        <span class="direct-chat-name float-left">Alexander Pierce</span>
                                        <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                                    </div>

                                    <img class="direct-chat-img" src="../dist/img/user1-128x128.jpg"
                                        alt="Message User Image">

                                    <div class="direct-chat-text" bis_skin_checked="1">
                                        Is this template really for free? That's unbelievable!
                                    </div>

                                </div>


                                <div class="direct-chat-msg right" bis_skin_checked="1">
                                    <div class="direct-chat-infos clearfix" bis_skin_checked="1">
                                        <span class="direct-chat-name float-right">Sarah Bullock</span>
                                        <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                                    </div>

                                    <img class="direct-chat-img" src="../dist/img/user3-128x128.jpg"
                                        alt="Message User Image">

                                    <div class="direct-chat-text" bis_skin_checked="1">
                                        You better believe it!
                                    </div>

                                </div>-->


                            </div>

                            <div id="body_close_day" class="none col-md-6">
                                <br>
                                <div class="container">
                                    <h3>Área de gestión.</h3>
                                    <div class="form-group">
                                        <p style="margin-bottom: 0;">Motivo:</p>
                                        <select id="resume_type_reason" class="select2 form-control">
                                            <option>Fuera de horario</option>
                                            <option>Captado en tienda y se recibe mensaje solo para hacer registro.
                                            </option>
                                            <option>Spam</option>
                                            <option>Pidió menú, pero no contestó.</option>
                                            <option>Pidió menú e hizo consultas pero no concretó nada.</option>
                                            <option>Pregunto informacion general del establecimiento.</option>
                                            <option>Otro</option>
                                        </select>
                                    </div>
                                    <div id="other_resume_day" class="form-group none">
                                        <p style="margin-bottom: 0;">Otro:</p>
                                        <textarea id="resume_type_reason_textarea"
                                            class="text-data form-control"></textarea>
                                    </div>
                                    <h3>Área de lectura.</h3>
                                    <p>Id: <span class="client_id text-data"></span></p>
                                    <p>Nombre: <span class="client_name text-data"></span></p>
                                    <p>Dirección: <span class="client_address text-data"></span></p>
                                    <h3>Área de cierre.</h3>
                                    <p>Chats no convertidos: <span id="chats_no_converse">0</span></p>
                                    <button id="next_btn_resume" class="btn btn-warning">Siguiente</button>
                                    <button id="cancel_btn_resume" onclick="window.location.href='/'"
                                        class="btn btn-danger">Cancelar cierre
                                        del
                                        diá.</button>
                                    <br>
                                    <small class="text-danger">*Atención dentro de este apartado recibirás mensajes de
                                        los chats que están en pantalla, pero más no podrás responderlos, hasta que
                                        finalice el resumen del día.</small>
                                </div>
                            </div>



                            <div class="direct-chat-contacts" style="height: 100%;" bis_skin_checked="1">
                                <ul class="contacts-list" id="contacts_list">
                                    <!--<li>
                                        <a href="#">
                                            <img class="contacts-list-img" src="../dist/img/user1-128x128.jpg"
                                                alt="User Avatar">
                                            <div class="contacts-list-info" bis_skin_checked="1">
                                                <span class="contacts-list-name">
                                                    Count Dracula
                                                    <small class="contacts-list-date float-right">2/28/2015</small>
                                                </span>
                                                <span class="contacts-list-msg">How have you been? I was...</span>
                                            </div>
                                        </a>
                                    </li>-->
                                </ul>
                            </div>
                        </div>

                        <div class="card-footer close_day_class" bis_skin_checked="1">
                            <div class="input-group" bis_skin_checked="1">
                                <input type="text" name="message" id="message-input-server"
                                    placeholder="Escriba el mensaje..." class="form-control">
                                <span class="input-group-append">
                                    <button id="btn-send-server" type="submit" class="btn btn-success">Enviar</button>
                                </span>
                                <span class="input-group-append">
                                    <button id="input-file-send-button" type="submit" class="btn btn-success">
                                        <i class="nav-icon fas fa-upload"></i>
                                    </button>
                                    <input accept=".pdf, .jpeg, .jpg, .png, .gif, .mp3, .wav" type="file" class="none"
                                        id="input-file-send">
                                </span>
                            </div>
                            <div id="accordion" bis_skin_checked="1">
                                <div class="card-custom card card-success" bis_skin_checked="1">
                                    <div class="card-header card-header-custom" bis_skin_checked="1">
                                        <h4 class="card-title w-100">
                                            <a class="d-block w-100" data-toggle="collapse" href="#collapseThree"
                                                aria-expanded="true">
                                                <i class="nav-icon fas fa-smile"></i> Respuestas rapidas.
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordion"
                                        bis_skin_checked="1" style="">
                                        <div class="card-body" bis_skin_checked="1">
                                            <div id="content-responses-charge" class="row">
                                                <span style="text-align: center;">No hay respuestas
                                                    disponibles</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-orange shadow-sm" bis_skin_checked="1">
                        <div class="card-header" bis_skin_checked="1">
                            <h3 class="card-title text-white">Área de lectura</h3>
                            <div class="card-tools" bis_skin_checked="1">
                                <button type="button" class="btn btn-tool text-white" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>

                        </div>

                        <div class="card-body" bis_skin_checked="1">
                            <p>Id: <span class="client_id text-data"></span></p>
                            <p>Nombre: <span class="client_name text-data"></span></p>
                            <p>Dirección: <span class="client_address text-data"></span><br><small
                                    id="client-extra-address-small" class="text-danger"></small></p>
                            <p>Zona: <span class="client_zone text-data"></span></p>
                            <p>Ubicacion url:</p>
                            <div class="form-group">
                                <textarea class="client_location text-data form-control" disabled></textarea>
                            </div>
                            <p>Observaciones:</p>
                            <div class="form-group">
                                <textarea class="client_observations text-data form-control" disabled></textarea>
                            </div>
                            <button onclick="editClientModalBootstrap.show();" disabled id="edit-client-chat-view"
                                class="btn btn-warning">Editar</button>
                        </div>

                    </div>

                    <div class="card card-orange shadow-sm" bis_skin_checked="1">
                        <div class="card-header" bis_skin_checked="1">
                            <h3 class="card-title text-white">Área de cierre</h3>
                            <div class="card-tools" bis_skin_checked="1">
                                <button type="button" class="btn btn-tool text-white" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>

                        </div>

                        <div class="card-body" bis_skin_checked="1">
                            <button onclick="requestType();" id="close_sale" class="btn btn-warning">Cerrar
                                venta</button>
                            <button onclick="closeDay();" id="close_sale" class="btn btn-success">Cerrar día</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <%- include("template/footer.ejs") %>