            </div>
        </div>
    </body>
    <script src="js/jquery-3.7.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/waitMe.min.js"></script>
    <script src="js/sweetalert2.all.min.js"></script>
    <script src="js/btnActionDelivers.js"></script>
    <script src="js/btnActionConfig.js"></script>
    <script src="js/btnActionResponses.js"></script>
</html>
