<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <p class="variat pad_roght2">
            El chat personal de Zumitos es una herramienta integral que permite
            a los clientes interactuar directamente con la empresa de manera
            rápida y conveniente.
          </p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>DEJANOS AYUDARTE</h3>
          <p class="variat pad_roght2">
            Encuentra nuestro numero de soporte en el apartado de INFORMACIÓN, y
            realiza cualquier consulta con respecto al uso del chatbot
            Tuzumitos.
          </p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>INFORMACIÓN</h3>
          <ul class="link_menu">
            <li><a href="/">Chat</a></li>
            <li><a href="/Deliverys"> Repartidor</a></li>
            <li><a href="/Responses">Respuestas</a></li>
            <li><a href="/Config">Configuracion</a></li>
            <li><a href="https://tuzumitos.com/">Inicio Publico</a></li>
            <li><a href="https://wa.link/x8fiia">Soporte</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>Nuestro diseño</h3>
          <p class="variat">
            There are many variat ions of passages of L orem Ipsum available ,
            but the majority h ave suffered altera tion in some form, by
          </p>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <p>
              © 2023 Reservados todos los derechos. Desarrollado por
              <a href="https://codevalcano.tech/">codevalcano.tech</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
