            </div>
        </div>
    </body>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/waitMe.min.js"></script>
    <script src="js/me/btnActionDelivers.js"></script>
    <script src="js/me/btnActionResponses.js"></script>
</html>
