<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.10
    </div>
    <strong>Copyright &copy; 2023 <a href="https://codevalcano.tech/">CodeValcanos</a>.</strong> All rights
    reserved.
</footer>


</div>

<div class="modal fade" id="modal-xl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Establezca una sesión de WhatsApp</h4>
            </div>
            <div class="modal-body">
                <div class="div-center">
                    <img class="img-qr" src="/dist/img/qr.gif" id="qr_code" alt="Codigo QR">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <p>Escanea el codigo QR para usar el aplicativo web.</p>
                <p>Estado del bot: <span class="status_bot"></span></p>
            </div>
        </div>

    </div>

</div>


<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/select2/js/select2.full.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/dist/js/core.js"></script>
<script src="/dist/js/adminlte.min.js?v=3.2.0"></script>
</body>



</html>